.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('/assets/images/background/network.png');
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.hero > * {
  position: relative;
}